<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Fechar</span>
    </a>
    <ul>
        <li class="nav-home {% if page.current == 'home' %} nav-current{% endif %}" role="presentation">
            <a href="{{ site.baseurl }}">Home</a>
        </li>
        <li class="nav-about {% if page.current == 'sobre' %} nav-current{% endif %}" role="presentation">    <a href="{{ site.baseurl }}sobre">Sobre</a>
        </li>
    </ul>
</div>
<span class="nav-cover"></span>
